/* Style général */
body {
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

/* En-tête */
header {
    background-color: #1e3a8a;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

header p {
    font-size: 18px;
    margin-top: 10px;
}

/* Sections */
section {
    background-color: white;
    margin: 30px auto;
    padding: 30px;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

section h2 {
    color: #1e3a8a;
    margin-bottom: 15px;
}

/* Listes */
ul {
    list-style-type: square;
    padding-left: 20px;
}

/* Projets */
h3 {
    color: #333;
    margin-top: 20px;
}

/* Contact */
section p {
    font-size: 16px;
}
img {
    width: 200px;
    height: auto;

}

/* Footer */
footer {
    background-color: #1e3a8a;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}